h1, h2 {
	display: inline;
}
ul.channelList {
	margin-left: 150px;
	padding-left: 0;
}
ul.channelList img {
	max-width: 100px;
	max-height: 100px;
	display: block;
}
ul.channelList li {
	width: 100px;
	min-height: 200px;
	padding-left: 20px;
	list-style:none;
	float: left;
}
ul.filters li a {
	width: 100%;
	display: inline-block;
}
ul.filters a:hover {
	background-color: lightgrey;
}
ul.filters li.selected a {
	background-color: darkgrey;
}
ul.filters li.selected a:hover {
	background-color: grey;
}
div#filters {
	float: left;
	width: 150px;
}
body.filtered ul.channelList li {
	display: none;
}
body.Radio li[data-filter*="Radio"],
body.Rock li[data-filter*="Rock"],
body.News li[data-filter*="News"],
body.Music li[data-filter*="Music"],
body.Science li[data-filter*="Science"],
body.Education li[data-filter*="Education"],
body.Talk li[data-filter*="Talk"],
body.ScienceFiction li[data-filter*="ScienceFiction"],
body.Sports li[data-filter*="Sports"],
body.Comedy li[data-filter*="Comedy"],
body.Shop li[data-filter*="Shop"],
body.Life li[data-filter*="Life"],
body.Kids li[data-filter*="Kids"],
body.Movies li[data-filter*="Movies"],
body.English li[data-filter*="English"],
body.French li[data-filter*="French"],
body.Italian li[data-filter*="Italian"],
body.Polish li[data-filter*="Polish"],
body.Punjabi li[data-filter*="Punjabi"],
body.Spanish li[data-filter*="Spanish"] {
	display: list-item !important;
}
html.lock body {
	background: url('http://www.ottawacityrafting.com/media/img/static/scan-wristband.gif') no-repeat center center;
}
a {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
a:visited {
	color: purple;
}